.button {
	display: inline-block;

	padding: 10px;

	cursor: pointer;

	transition: all 0.2s ease-in-out;
	text-align: center;

	border-radius: 5px;

	font-size: 14px;
	font-weight: 400;
}

.primary {
	color: white;

	border: 1px solid var(--white);
	background-color: var(--primary);
}

.primary:hover {
	background-color: var(--primary-hover);
}

.ghost {
	border: 1px solid var(--grey-light);
	background: none;
}

.arrow {
	display: inline-block;

	margin-left: 10px;
}

.arrow svg {
	transition: all 0.2s ease-in-out;
}

.ghost:hover {
	color: var(--white);
	background: var(--primary);
}

.ghost:hover svg {
	fill: var(--white);
}

.down {
	transition: all 0.2s ease-in-out;
	transform: rotate(90deg);
}
