.star svg {
	margin-right: 5px;

	fill: var(--grey-light);
}

.filled svg {
	fill: var(--primary);
}

.editable {
	cursor: pointer;
}

.error svg {
	stroke: var(--red);
}

.ratingWrapper {
	position: relative;
}

.errorMessage {
	position: absolute;
	bottom: -18px;
	left: 5px;

	color: var(--red);
}
